body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: rgb(191, 191, 223);
  color: whitesmoke;
}
h1 {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.8rem;
  line-height: 1.5;
  font-weight: 700;
  font-style: bold;
}
h3 {
  font-family: "Montserrat";
  font-weight: bold;
}
.container-fluid {
  padding: 3% 15%;
}
/* .lefthand {
  padding-right: 1rem;
} */
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
/* .col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
} */
.lavendar {
  background-color: lavender;
}

/* nav bar */
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title image */
.title-image {
  width: 50%;
  transform: rotate(25deg);
}

/* features sect*/
#features {
  padding: 7% 15%;
}
.features-icon {
  color: lavender;
  margin-bottom: 1rem;
}
.features-icon:hover {
  color: rgb(191, 191, 223);
}
.feature-box {
  text-align: center;
  padding: 5%;
}
p {
  color: #8f8f8f;
}
