#profile {
  border-radius: 50%;
  max-height: 250px;
}
body {
  background-color: rgb(146, 169, 189);
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.lightGrayish {
  background-color: rgb(211, 222, 220);
  color: rgb(146, 169, 189);
  margin: 0;
  padding: 20px;
}

.centTable ul {
  text-decoration: none;
}
hr {
  width: 6%;
  border-style: none;
  border-top-style: dotted;
  border-color: whitesmoke;
  border-width: 12px;
}
a {
  text-decoration: none;
  color: tomato;
  font-size: 1.4rem;
}
