div {
  height: 800px;
  width: 300px;
  align-items: center;
  background-color: rgb(139, 126, 126);
}
.div-box {
  height: 170px;
  width: 50%;
  margin: 3%;
  padding: 10px;
  background-color: aquamarine;
  color: whitesmoke;
}

.centered {
  text-align: center;
}
