body {
  margin: 0;
}
.onesq {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 200px;
}

.twosq {
  background-color: blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
}
.threesq {
  background-color: yellow;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: absolute;
  left: 0;
}
