#profile {
  border-radius: 50%;
  max-height: 250px;
}
body {
  background-color: rgb(146, 169, 189);
  color: whitesmoke;
}

.lightGrayish {
  background-color: rgb(211, 222, 220);
  color: rgb(146, 169, 189);
  margin: 0;
  padding: 20px;
}

.centTable ul {
  text-decoration: none;
}
