body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 5.62rem;
  margin-top: 50px auto 0 auto;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h1,
h2 {
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

h3,
a {
  color: #11999e;
}

.top-container {
  background-color: #eef2ff;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.woman {
  border-radius: 50%;
  width: 10rem;
  padding: 30px;
}

.skill-row {
  width: 50%;
  margin: auto;
}
